* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --heading-font: Sora, sans-serif;
    --text-font: Poppins, sans-serif;
    --heading-color: #000958;
    --text-color: #656689;
    --primary-color: #ff5b2e;
}

body {
    font-family: var(--text-font);
    font-size: 1.6rem;
    background: #fffaf5;
}

/* Common */
a {
    text-decoration: none;
    color: #000;
}

button {
    padding: 0;
    background: none;
    border: none;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 32px;
    height: 50px;
    border-radius: 99px;
    border: 1px solid rgb(0, 9, 88, 0.7);
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.btn:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn--primary {
    background: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border: none;
    color: #fff;
}

.btn--primary:hover {
    opacity: 0.8;
}

h1,
h2,
h3 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

.des {
    color: var(--text-color);
    font-family: var(--text-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

/* Header */
.header {
    margin-top: 26px;
}
.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__text {
    margin-left: 8px;
    color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__link {
    padding: 10px 8px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    padding: 10px 8px;
}

.navbar__link:hover {
    color: var(--heading-color);
}

.signup {
}
/* Hero - media*/

.hero {
    margin-top: 100px;
}
.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-media {
    position: relative;
    padding-bottom: 94px;
}

.hero__bigcat {
    position: relative;
    width: 388px;
    height: 488px;
    object-fit: cover;
    border-radius: 16px;
    z-index: 2;
    border: 3px solid #fff;
    background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.hero__leftdog {
    position: absolute;
    top: 302px;
    left: 365px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    object-fit: cover;
    background: #faa7ad;
    z-index: 3;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero__circle {
    position: absolute;
    top: 247.5px;
    right: 218px;
    z-index: 1;
}

.hero__stick {
    position: absolute;
    top: 16.6px;
    left: 377px;
    z-index: 1;
}

.hero-content {
    margin-left: 283px;
}

.hero__pet-review {
    position: absolute;
    top: 426px;
    left: 129px;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    z-index: 4;
}

.hero__pet-review-card {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero__betweencartStoke {
    margin: 19px 0px;

    width: 222px;
    height: 2px;
    background: #f2f2f2;
}

.hero__cartImage {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #fec23f;
}

.hero__pet-review-card:nth-child(2) .hero__cartImage {
    background: #c6e2fa;
}

.hero__cart-title {
    color: #181e52;
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__strong {
    position: relative;
    color: #181e52;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.hero__long-stoke {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--heading-color);
}

.hero__short-stoke {
    margin-top: 6px;
    width: 39px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--heading-color);
}

/* Hero - content*/
.hero__heading {
    width: 517px;
    font-size: 66px;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}

.hero__des {
    width: 391px;
    margin-top: 24px;
}

.hero__action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__arrowContainer {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background-color: #fff;
}

.hero__booking {
    width: 189px;
    height: 60px;
}

.hero__arrow {
    fill: var(--primary-color);
}

.hero__calling {
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/* About */
.about {
    margin-top: 138px;
}
.about-inner {
    display: flex;
    align-items: center;
}

.about__intro {
    color: #5e6085;
    font-family: Sora;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__title {
    margin-top: 15px;
    width: 446px;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.about__des {
    margin-top: 24px;
    width: 431px;
}

.about__svgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(255, 91, 46, 0.4) 0px 2px 8px 0px;
    background-color: var(--primary-color);
    width: 24px;
    height: 24px;

    border-radius: 4px;
}

.about__checkSvg {
    fill: #fff;
}

.check-box {
    margin-top: 57px;
    display: grid;
    /* auto auto: Khi bạn muốn cột tự động điều chỉnh kích thước dựa trên nội dung.
    1fr 1fr: Khi bạn muốn các cột có kích thước bằng nhau, bất kể nội dung bên trong. */
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 34px 30px;

    width: 477px;
}

.check-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about__checkTitle {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.about-media {
    position: relative;
    margin-left: auto;
}

.about__mainImg {
    position: relative;
    width: 494px;
    height: 559px;
    object-fit: cover;
    z-index: 2;
}

.about__imgContainer {
    position: relative;
}

.about__imgContainer::before {
    position: absolute;
    content: "";
    display: block;
    width: 494px;
    height: 336px;
    background-color: orange;
    top: 223px;
    left: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    z-index: 1;
}

.about__decorLeft {
    position: absolute;
    top: 165px;
    left: -92px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
    z-index: 2;
}

.about__dogFoot {
    position: absolute;
    top: -37px;
    right: -25px;
    z-index: 3;
}

.about__number {
    /* position: relative; */
    color: #fff;
    font-family: var(--heading-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}

.about__decorDes {
    width: 83px;
    text-align: center;
    color: #c6f4f9;
    line-height: 1.42; /* 142.857% */
}

.about_decorRight {
    position: absolute;
    left: 411px;
    top: 149px;
}

/* About-2 */
.about2 {
    margin-top: 146px;
    padding-bottom: 185px;
}

.about2-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about2__media {
    position: relative;
    width: 458px;
}

.about2__mainImg {
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about2__decor {
}

.rope-white {
    position: absolute;
    top: 21px;
    right: 65px;
    z-index: 2;
}

.rope-brown {
    position: absolute;
    top: -12px;
    right: 20px;
    z-index: 2;
}

.rope-orange {
    position: absolute;
    top: 39px;
    right: -18px;
    z-index: 2;
}

.triangle-blue {
    position: absolute;
    top: 42%;
    right: -32px;
    z-index: 2;
}

.triangle-white {
    position: absolute;
    top: 53%;
    right: 21px;
    z-index: 2;
}

.circle {
    position: absolute;
    bottom: -48px;
    right: -45px;
    z-index: 2;
}

.about2__content {
    margin-left: auto;
}

.about2__title {
    width: 543px;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.about2__des {
    margin-top: 24px;
    width: 511px;
}

.icon__list {
    position: relative;
    margin-top: 52px;
    display: flex;
    align-items: center;

    gap: 56px;
}

.icon__list::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 1px;
}

.icon__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon__item::after {
    display: none;
    content: "";
    width: 95px;
    height: 2px;
    background: var(--primary-color);

    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 1px;
}

.icon__item--active::after {
    display: block;
}

.icon__itemImg {
    width: 20px;
}

.icon__itemTitle {
    color: #48496a;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.tab__content {
    display: none;
}

.tab__content--active {
    display: block;
}

.tab__item {
    margin-top: 50px;
    width: 391px;
    font-size: 1.4rem;
}

.tab__link {
    position: relative;
    display: block;
    margin-top: 32px;
    color: #ff5d31;
    font-weight: 500;
    line-height: 1; /* 100% */
}

.tab__link::after {
    content: "";
    display: block;
    width: 86px;
    height: 1.5px;
    background: var(--primary-color);

    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 1px;
}

/* Service */
.service {
    padding-top: 68px;
    background: #FFF6ED;
}

.service__title {
    text-align: center;
}

.service__titleDes {
    color: #5e6085;
    font-family: var(--heading-font);
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__titleMain {
    margin-top: 15px;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19; /* 119.231% */
}

.service__card {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 64px;
    margin-top: 71px;
}

.service__card > :nth-child(2) {
    margin-right: 7px;
}

.service__cartItem {
    padding: 30px 22px 20px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
    margin-bottom: 24px;
}

.cart__title {
    display: flex;
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.cart__title::before {
    display: inline-block;
    margin-right: 12px;
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient( #ff5b2e, #ffa187);
    border-radius: 1px;
}

.cart__des {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}

.cart__link {
    position: relative;
    display: inline-block;
    margin-top: 14px;
    padding: 10px 0px;
    color: #34396a;
    font-family: Sora;
    font-size: 1.2rem;
    line-height: 1; /* 100% */
}

.cart__link::after {
    position: absolute;
    display: inline-block;
    content: url(../icon/ArrowUpRight.png);
    top: 0;
    right: -26px;

    padding-top: 10px;
    padding-right: 10px;
}

.service__cardCenter {
    width: 440px;
}

.service__cartImgContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.service__cartImgContainer::before {
    position: absolute;
    content: "";
    display: block;
    
    width: 410px;
    height: 350px;
    bottom: 0;

    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__cartImg {
    display: block;
    margin-top: 17px;
    position: relative;
    z-index: 1;
}

.service__btn {
    margin-top: 45px;
    width: 214px;
    margin-left: auto;
    margin-right: auto;
}
